Google Developers Calendar API Change: EventID format

I'm sure that you are across this, but thought I'd pass it on just in case.

`Hello Google Developer,

We’re writing to inform you about upcoming changes to the Google Calendar API that may impact your application starting Q3 2026.

We have provided additional information below to guide you through this change.

What this means for your application
Key changes:
Starting Q3 2026, there will be an update to the format in which Calendar generates and accepts new event IDs. This will be in line with what is prescribed in the [Google Calendar API](https://c.gle/AF5yWjCYat8dU7nk2f3gp4rMyLdwB-DAFSBVmk3qRHaGIDxSAkqAWY0ardLf1OyDUEfWknPdDik9kepoYmNLgclwMAl4R_9BjR4qHRRrjqE-WumSmF3FHsA5RqLkgxlnkWYo6qZjoug) documentation.

This change will only affect event IDs of instances in recurring events
Event IDs must be treated as opaque identifiers and their format can change anytime in the future
Event IDs for existing events are not impacted
What you need to do
Action advised:
To prevent any direct impact in your applications, review your usage of the [Event ID API field](https://c.gle/AF5yWjCzG7RJqj2a8zuB46XvrzUy8wD4m7yZZG_GN1LiJrfjJgMA-jDLJ7ZFGN6_QL_5Kpw_DjfmuMsPw_fXhz1RYidx6uG7VYRh4UmX1ZxHk17sV7qozOct3xu2ydHLskh7rBFrVZeyYNp1RWVD10T2zdz8-4eHwViWKiZqwH1wKFFJT6rR6Pgh5jI) and ensure that you treat it as an opaque ID.

We also recommend that you review your code to ensure that it follows the Google Calendar API documentation, and doesn’t interpret or construct recurring event instance IDs.

We’re here to help
If you have questions or need assistance, please review the [Google Calendar API](https://c.gle/AF5yWjCYat8dU7nk2f3gp4rMyLdwB-DAFSBVmk3qRHaGIDxSAkqAWY0ardLf1OyDUEfWknPdDik9kepoYmNLgclwMAl4R_9BjR4qHRRrjqE-WumSmF3FHsA5RqLkgxlnkWYo6qZjoug) documentation, or tag Stack Overflow questions using the ‘[google-calendar](https://c.gle/AF5yWjB6r-SeRYHFTUCEfOergMMWYvw_QXZKn5tGGIziU_A9BUbvYrSs8x6ZsSKMvAR33toO0FOt5ImTGnuU4YytEXSg8iR-PxBJvNzYhFiU-m7ODDNHjc3jtCMYbPpo3DrjV0_97BblyZM5AjVpKw)’ tag.

Thanks for choosing Google Workspace.

– The Google Workspace Team`


I can forward you the actual email, should you need.

Thanks for highlighting @TheJacksonian, I got the email last night too, though I'm sure I read about this recently too.

Hopefully, OGCS is OK without any changes - it seems "Event IDs for existing events are not impacted" and the documentation for the Event ID field says the ID will continue to be generated automatically if not specified (which OGCS does not specify or generate):-

> Opaque identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:
> * characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in [RFC2938](http://tools.ietf.org/html/rfc2938#section-3.1.2)
> * the length of the ID must be between 5 and 1024 characters
> * the ID must be unique per calendar
> 
> Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in [RFC4122](https://tools.ietf.org/html/rfc4122).
> 
> **If you do not specify an ID, it will be automatically generated by the server.**
